et-xmlfile==1.0.1
jdcal==1.4.1
numpy==1.22.0
openpyxl==3.0.2
Pillow==6.2.1
Pygments==2.5.2
PyPubSub==3.3.0
pywin32==227
robotframework==3.1.2
robotframework-csvlib==1.0.0
robotframework-excellib==2.0.0
robotframework-ride==1.7.3.1
robotframework-seleniumlibrary==4.1.0
robotframeworklexer==1.1
selenium==3.141.0
six==1.13.0
urllib3==1.25.7
wxPython==4.0.7.post2
